{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
<div class="container text-center">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Dit is de homepage admin {{ app.user.username }}</h3>
            <p class="card-text">lorem ipsdfklnwekjfnkjswnflkwjenfoklnfweinhfeowinlfew</p>
            <a href="/" class="btn btn-primary">useless button</a>
        </div>
    </div>
</div>
{% endblock %}
