{% extends 'base.html.twig' %}
{% block title %}recepten tabel{% endblock %}

{% block body %}
    <h1 class="text-center">Recepten tabel</h1>
    <table class="table table-dark table-bordered">
        <thead>
        <tr>
            <th></th>
            <th>naam</th>
            <th>bereidingswijze</th>
        </tr>
        </thead>
        {% for recipe in recipes %}
        <tr>
            <td><img src="{{ asset( 'pictures/recepten/' ~ recipe.naam ~ '.jpg') }}" alt="" class="img-fluid" style="
border-radius: 100%;
width: 5em;
height: 5em;
"></td>
            <td>{{ recipe.naam }}</td>
            <td>{{ recipe.bereidingswijze }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ path('add_recipe') }}" class="btn btn-success">toevoegen</a>
{% endblock %}